body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#getFoxButton{
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    margin: 0 0 20px 0;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: 3px solid orange;
    background-color: orange;
}

#clearFoxis{
    color: orange;
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    margin: 0 0 20px 0;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.img-container{
    padding: 4px;
}

img{
    width: 320px;
}

